nav {
  max-width: 1440px;
  width: 100%;
}
nav ul {
  width: 100%;
}
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.site-logo .hexagon {
  transform-origin: center;
  transition: transform 0.25s ease-in-out;
}
.site-logo:hover .hexagon {
  transform: rotate(60deg);
}
.site-navigation {
  display: flex;
  align-items: center;
  gap: 1em;
}
.site-menu {
  opacity: 0;
  transform: translateX(4em);
  pointer-events: none;
  transition: opacity 0.5s, transform 0.5s;
}

.site-menu.open {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
.site-menu ul {
  display: flex;
  gap: 1em;
  list-style: none;
  font-size: 1.5em;
}

.site-menu li:hover {
  cursor: pointer;
  transform: scale(0.8);
  transition: transform 0.6s ease-in-out;
  border: solid 5px #ffff00;
  transition: border-width 0.6s linear;
}
.site-menu a {
  text-decoration: none;
  color: var(--color-accent);
  padding: 0.5em;
}
.burger-menu {
  padding: 0.5em;
  background: none;
  border: none;
  cursor: pointer;
}
.burger-menu .line-1 {
  transform-origin: center;
  transform: translateY(-1em) rotate(0deg);
  transition: transform 0.25s ease-in-out;
}
.burger-menu .line-2 {
  transform-origin: center;
  transform: translateY(0) rotate(0deg);
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.burger-menu .line-3 {
  transform-origin: center;
  transform: translateY(1em) rotate(0deg);
  transition: transform 0.25s ease-in-out;
}
.burger-menu.open .line-1 {
  transform: translateY(0) rotate(225deg);
}
.burger-menu.open .line-2 {
  transform: translateY(0) rotate(180deg);
  opacity: 0;
}
.burger-menu.open .line-3 {
  transform: translateY(0) rotate(135deg);
}

/* responssive*/
@media screen and (max-width: 640px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  .site-header {
    justify-content: space-between;
    padding: 0.5em;
    width: 100%;
  }
  .site-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    margin: 10rem;
    padding-top: 8em;
  }
  .site-menu ul {
    flex-direction: column;
    gap: 1em;
    margin-top: 100px;
  }
  .site-menu li {
    font-size: 1em;
  }
}
