.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.site-logo .hexagon {
  transform-origin: center;
  transition: transform 0.25s ease-in-out;
}
.site-logo:hover .hexagon {
  transform: rotate(60deg);
}
.site-navigation {
  display: flex;
  align-items: center;
  gap: 1em;
}
.site-menu {
  opacity: 0;
  transform: translateX(4em);
  pointer-events: none;
  transition: opacity 0.5s, transform 0.5s;
}

.site-menu.open {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
.site-menu ul {
  display: flex;
  gap: 1em;
  list-style: none;
  font-size: 1.5em;
}
/*site menu li has to be zoomed out with animation when the user clicked*/
.site-menu li:hover {
  cursor: pointer;
  transform: scale(1s);
  transition: transform 0.25s ease-in-out;
  border: 1px solid #fff;
  opacity: 1s ease-in-out;
}
.site-menu a {
  text-decoration: none;
  color: var(--color-accent);
  padding: 0.5em;
}
.burger-menu {
  padding: 0.5em;
  background: none;
  border: none;
  cursor: pointer;
}
.burger-menu .line-1 {
  transform-origin: center;
  transform: translateY(-1em) rotate(0deg);
  transition: transform 0.25s ease-in-out;
}
.burger-menu .line-2 {
  transform-origin: center;
  transform: translateY(0) rotate(0deg);
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.burger-menu .line-3 {
  transform-origin: center;
  transform: translateY(1em) rotate(0deg);
  transition: transform 0.25s ease-in-out;
}
.burger-menu.open .line-1 {
  transform: translateY(0) rotate(225deg);
}
.burger-menu.open .line-2 {
  transform: translateY(0) rotate(180deg);
  opacity: 0;
}
.burger-menu.open .line-3 {
  transform: translateY(0) rotate(135deg);
}
