.contact-title {
  text-align: center;
}
.contact-form {
  width: 50%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 2fr;
  margin-top: 4rem;
  gap: 20px;
}
.form {
  padding: 20px;
}

.form input {
  border: 1px solid #fff;
}
.contact-form-input {
  width: 100%;
}
.text-center {
  margin-bottom: 10px;
  margin-top: 10px;
}
.contact-form input[type="text"] {
  width: 300px;
  height: 30px;
  border-bottom: 1px solid #000;

  padding: 30px;
}
.contact-form input[type="email"] {
  width: 300px;
  height: 30px;
  border-bottom: 1px solid #000;

  padding: 30px;
}

.contact-form textarea {
  resize: none;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #000;

  margin-top: 20px;
}
.text-area-input {
  display: flex;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #000;

  padding: 20px;
  align-items: center;
  justify-content: center;
}
.text-area-input {
  border: 1px solid #fff;
}
.text-area {
  margin-top: 20px;
}

.contact-form label {
  display: block;
  width: 100px;
  text-align: right;
}
.contact-form-group1 {
  display: flex;
  gap: 4rem;
  width: 100%;
}
.btn {
  width: 100%;
  height: 30px;
  background-color: var(--color-secondary);
  border-radius: 5px;
  padding: 30px;
  float: right;
  cursor: pointer;
  margin-top: 4rem;
}
