.app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 160px;
}
.app-header {
  background-color: var(--color-primary);
}
.app-main {
  background-color: white;
}
.app-footer {
  background-color: var(--color-primary);
}
.app-header-inner-wrapper,
.app-main-inner-wrapper,
.app-footer-inner-wrapper {
  max-width: 1200px;
  margin-inline: auto;
  height: 100%;
}
