.app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr auto;
}
.app-header {
  background-color: var(--color-primary);
}
.app-main-inner-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.app-main {
  background-color: white;
  padding-block: 2em;
  padding: 15px;
}
.app-footer {
  background-color: var(--color-primary);
  padding: 1em 0;
}
.app-footer-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  border-top: 2px solid #ffff00;
  list-style: none;
}
@media (max-width: 640px) {
  .app-footer-links ul {
    flex-direction: column;
  }
}
.app-footer-links a {
  color: var(--color-accent);
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: none;
  padding: 1em;
  text-shadow: 3px 3px 10px black;
  transition: 0.4s ease;
}
.app-footer-links a:hover {
  transform: translateY(10px);
  text-shadow: none;
  color: #ffffff;
  border: 1px solid #000000;
}
.gap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.app-header-inner-wrapper,
.app-main-inner-wrapper,
.app-footer-inner-wrapper {
  max-width: 1200px;
  margin-inline: auto;
  height: 100%;
}
