* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

html,
body,
#root {
  height: 100%;
}
body {
  --color-primary: hsl(185, 68%, 20%);
  --color-secondary: hsl(174, 40%, 33%);
  --color-accent: hsl(140, 25%, 70%);
  --color-dark: hsl(147, 94%, 6%);
  --color-text: hsl(123, 91%, 4%);
  --color-decoration: #ffff00;
}
